.input{
    width: 50%;
    height: 5rem;
    border-radius: 1.5rem;
    border:1px solid grey;
    margin: 4rem;
    padding:1rem;
    outline: 0;
    font-size:2rem;
    background-color: #fdfafac2;
    font-family: "Poppins";
}
.searchbox{
    width: 60%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    border-radius:1rem;
    box-shadow:0 .1rem .3rem .1rem rgba(194, 189, 189, 0.76);
    border: 1px solid rgba(194, 189, 189, 0.76);
}
.search{    width: 100%;
    min-height: 97vh;
    background-color: #D6E4F0;
    padding-top: 3rem;
    padding-bottom:1rem;}
